* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  background: var(--primary-background-color);
}

:root {
  --primary-background-color: #E4E4E4;
  --primary-light-color: #FFFFFF;
  --primary-dark-black-color: #181818;
  --primary-orange-color: #FF8040;
  --primary-black-color: #000000;
  --primary-blue-color: #0029FF;
}

.container {
  width: 100%;
  max-width: 1224px;
  padding: 0 32px;
  margin: 0 auto;
}